[Unit]
Description=Load dump capture kernel
After=local-fs.target

[Service]
RemainAfterExit=true
ExecStart=/usr/bin/kexec -p /boot/vmlinuz-linux --initrd=/boot/initramfs-linux.img --append="BOOT_IMAGE=/@/boot/vmlinuz-linux root=UUID=f744de26-960b-4f60-ba3c-818d5b38c926 single rootflags=subvol=@ irqpoll nr_cpus=1 reset_devices module_blacklist=iwlwifi,thunderbolt,e1000e systemd.unit=kdump-save.service"
ExecStop=/usr/bin/kexec -p -u
Type=oneshot

[Install]
WantedBy=multi-user.target
