[user]
	email = me@taoky.moe
	name = taoky
	signingKey = /home/taoky/.ssh/id_ed25519.pub
[core]
	editor = nvim
	pager = delta
[alias]
	adog = log --all --decorate --oneline --graph
[gpg]
	format = ssh
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[color]
	ui = auto
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
