<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Screen sharing">
    <action name="Execute">
      <command>xdp-screen-cast --show-cursor</command>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Xterm">
    <action name="Execute"><command>xterm -fa "Source Code-16"</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Wemeet">
    <action name="Execute">
      <command>flatpak run com.tencent.wemeet</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <!-- <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator /> -->
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
</menu>

</openbox_menu>
