[Desktop Entry]
Name=1Password
Exec=/opt/1Password/1password --ozone-platform-hint=auto --enable-wayland-ime --wayland-text-input-version=3 %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
