[Desktop Entry]
Name=QQ
Exec=xvfb-run /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=qq --file-forwarding com.qq.QQ @@u %U @@
Terminal=false
Type=Application
Icon=com.qq.QQ
StartupWMClass=QQ
Categories=Network;
Comment=QQ
X-Flatpak=com.qq.QQ
