pkgbase = rapid-photo-downloader
	pkgdesc = Photo and video downloader
	pkgver = 0.9.37
	pkgrel = 3
	url = https://www.damonlynch.net/rapid/
	arch = any
	license = GPL3
	makedepends = intltool
	makedepends = ifuse
	makedepends = python-hatch
	makedepends = python-installer
	depends = desktop-file-utils
	depends = gstreamer
	depends = hicolor-icon-theme
	depends = libgexiv2
	depends = libnotify
	depends = python-arrow
	depends = perl-image-exiftool
	depends = python-colour
	depends = python-dateutil
	depends = python-easygui
	depends = python-gobject
	depends = python-gphoto2
	depends = python-psutil
	depends = python-pymediainfo
	depends = python-pyqt5
	depends = python-pyzmq
	depends = python-requests
	depends = python-setuptools
	depends = python-sortedcontainers
	depends = python-babel
	depends = python-tornado
	depends = python-pyxdg
	depends = qt5-imageformats
	depends = udisks2
	depends = python-tenacity
	depends = qt5-svg
	depends = python-show-in-file-manager
	optdepends = ifuse: for iOS devices
	source = https://github.com/damonlynch/rapid-photo-downloader/releases/download/v0.9.37/rapid-photo-downloader-0.9.37.tar.gz
	source = https://github.com/damonlynch/rapid-photo-downloader/releases/download/v0.9.37/rapid-photo-downloader-0.9.37.tar.gz.asc
	validpgpkeys = E26048A9F4A803B91CB1BD648005B1F36970BE28
	sha256sums = 2545253b852b7c92d9732b5ace5e4aae5ca390a774b76828bad8b49468fcedea
	sha256sums = SKIP

pkgname = rapid-photo-downloader
