pkgbase = rapid-photo-downloader
	pkgdesc = Photo and video downloader
	pkgver = 0.9.36
	pkgrel = 4
	url = https://www.damonlynch.net/rapid/
	changelog = rapid-photo-downloader.changelog
	arch = any
	license = GPL3
	makedepends = intltool
	makedepends = ifuse
	depends = desktop-file-utils
	depends = gstreamer
	depends = hicolor-icon-theme
	depends = libgexiv2
	depends = libnotify
	depends = python-arrow
	depends = perl-image-exiftool
	depends = python-colour
	depends = python-dateutil
	depends = python-easygui
	depends = python-gobject
	depends = python-gphoto2
	depends = python-psutil
	depends = python-pymediainfo
	depends = python-pyqt5
	depends = python-pyzmq
	depends = python-requests
	depends = python-setuptools
	depends = python-sortedcontainers
	depends = python-babel
	depends = python-tornado
	depends = python-pyxdg
	depends = qt5-imageformats
	depends = udisks2
	depends = python-tenacity
	depends = qt5-svg
	depends = python-show-in-file-manager
	optdepends = ifuse: for iOS devices
	source = https://launchpad.net/rapid/pyqt/0.9.36/+download/rapid-photo-downloader-0.9.36.tar.gz
	source = https://launchpad.net/rapid/pyqt/0.9.36/+download/rapid-photo-downloader-0.9.36.tar.gz.asc
	source = 0001-Fix-261-sqlite3.OperationalError-unable-to-open-data.patch
	validpgpkeys = E26048A9F4A803B91CB1BD648005B1F36970BE28
	sha256sums = a3dc363ee2bb931a4ba76d65ec136adda7d1fe99af2e59c90057ce0c842765e4
	sha256sums = SKIP
	sha256sums = e16563f7d1317ba5a57677bb44f6f85bc327b6ff587ea7078ec048b0140f584b

pkgname = rapid-photo-downloader
